<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; chearset=utf-8">
{% block title %}{% endblock %}
{% load static %}
<link href="{% static "css/style.css" %}" rel="stylesheet"
        type="text/css" />
</head>
<body bgcolor="#ffffff">
<div id="wrap">
    <table width="600" border="0" align="center" cellpadding="0"
            cellspacing="0">
    <tr>
      <td height="176" background="{% 
            "images/logo.png"%}">&nbsp;</td>
    </tr>
      <td background="{% static "images/logo" %}">
        <div class="functionDiv">
          <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td align="right">
                <img src="{% static "images/door_out.png" %}" width="16" height="16" align="absmiddle" /> <a href="/logout/">Logout</a></td>
              </td>
            </tr>
          </table>
          <img src="{% static"images/logo.png" %}" width="600" height="20" border="0" />
        </div>
        {% block content %}-{% endblock %}
          <div id="siteinfo"> StayTalk 2022 All Rights Reserved. </div></td>
    </tr>
    </table>
    </div>
</body>
</html>
